@mixin divider {
  border: 0;
  height: 0;
  width: 1.5rem;
  margin-bottom: 0;
  margin-left: 0;
}

.divider {
  @include divider();
  border-top: 2px solid $green;
  
  &-alt {
    @include divider();
    border-top: 2px solid $purple;
  }
}
