.#{$prefix} {
  
  &-header {
    background: url('../images/bg-banner.svg') center center no-repeat;
    background-size: cover;
    
    & .rt-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @include breakpoint(md) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
  
  &-header-brand {
    margin-bottom: 0;
    font-size: 1rem;
    text-decoration: none;
    color: $white;
    @include breakpoint(md) {
      font-size: .875rem;
      padding: .5rem .5rem 1rem 0;
    }
  }
  
  &-header-nav {
    @include breakpoint(md) {
      // display: none;
    }
  }
  
  &-header-nav-item {
    padding: .5rem .75rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    
    &:first-child {
      padding-left: 0;
    }
    
    &:hover {
      text-decoration: underline;
    }
    
    @include breakpoint(md) {
      font-size: .75rem;
    }
  }
    
}
