.#{$prefix} {
  
  &-header {
    background: url('../images/bg-banner.svg') center center no-repeat;
    background-size: cover;
    
    & .rt-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &-header-brand {
    margin-bottom: 0;
    font-size: 1rem;
    text-decoration: none;
    color: $white;
    @include breakpoint(md) {
      font-size: .75rem;
      padding: .5rem;
    }
  }
  
  &-header-nav {
    @include breakpoint(md) {
      display: none;
    }
  }
  
  &-header-nav-item {
    padding: .5rem .75rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      text-decoration: underline;
    }
    
    @include breakpoint(md) {
      font-size: .75rem;
    }
  }
  
  &-header-nav-mobile{
    opacity: 0;
    transition: opacity .25s ease-in-out;
    
    & .rt-header-nav-item {
      display: none;
    }
  }
  
  &-header-nav-mobile.is-active {
    display: block;
    position: absolute;
    padding: 4rem 0;
    right: 0;
    background: $dark;
    width: 100%;
    transition: opacity .25s ease-in-out;
    opacity: 1;
    box-shadow: 0 0.5rem 1rem #9E9E9E;

    
    & .rt-header-nav-item {
      color: $white;
      display: block;
      font-size: 2.35rem;
      padding-left: 2rem;
      text-transform: inherit;
      font-weight: 600;
      display: block;
    }
    
    
  }
    
}
