.#{$prefix} {
  
  &-header {
    background: $dark;
    color: $white;
    
    @include breakpoint(md) {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
    & .rt-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(md) {
        justify-content: flex-start;
        padding: 0 1rem;
      }
    }
  }
  
  &-header-brand {
    margin-bottom: 0;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: $white;
    @include breakpoint(md) {
      font-size: .75rem;
      display: block;
      padding: 1rem;
      margin-right: .25rem;
    }
  }
  
  &-header-nav-item {
    padding: .5rem .75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    
    &:hover {
      text-decoration: underline;
    }

    
    @include breakpoint(md) {
      font-size: .75rem;
      padding: 1rem .5rem;
    }
  }
    
}
