.#{$prefix} {
  
  &-header {
    background: url('../images/bg-banner.svg') center center no-repeat;
    background-size: cover;
    
    @include breakpoint(md) {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1;
      box-shadow: 0 -.25rem 1.5rem $dark;
    }
    
    & .rt-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(md) {
        justify-content: flex-start;
        padding: 0 1rem;
      }
    }
  }
  
  &-header-brand {
    margin-bottom: 0;
    font-size: 1rem;
    text-decoration: none;
    color: $white;
    @include breakpoint(md) {
      font-size: .75rem;
      display: block;
      padding: 1rem;
      margin-right: 1rem;
    }
  }
  
  &-header-nav {
    @include breakpoint(md) {
      // display: none;
    }
  }
  
  &-header-nav-item {
    padding: .5rem .75rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      text-decoration: underline;
    }
    
    @include breakpoint(md) {
      font-size: .75rem;
      padding: 1rem;
    }
  }
    
}
