.#{$prefix}-link {
  &-external {
    width: 1rem;
    position: absolute;
    bottom: 1.15rem;
    right: 1rem;
    opacity: .2;
  }
  
  &-dark {
    display: inline-block;
    margin-right: 1rem;
    color: $dark;
    text-decoration: none;
    font-weight: 600;
    transition: .3s color cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
    &:hover {
      transition: .3s color cubic-bezier(0.075, 0.82, 0.165, 1);
      color: $purple;
    }
  }
  
  &-white {
    display: inline-block;
    color: $dark;
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: .3s color cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:hover {
      transition: .3s color cubic-bezier(0.075, 0.82, 0.165, 1);
      color: $purple;
    }
  }
  
  &-outline {
    display: inline-block;
    padding: .75rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    border: 1px solid $purple;
    background: $white;
    color: $purple;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:hover {
      transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      background: $blue-hint;
      border-color: $blue-hint;
      color: $blue-dark;
    }
    
  }
  
}

