.#{$prefix}-link {
  &-external {
    width: 1rem;
    position: absolute;
    bottom: 1.15rem;
    right: 1rem;
    opacity: .2;
  }
  
  &-dark {
    display: inline-block;
    padding: .75rem 1rem;
    border: 1px solid $white;
    background: transparent;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      background: $blue-dark;
      border-color: $blue-dark;
      color: $blue-hint;
    }
  }
  
  &-white {
    display: inline-block;
    padding: .75rem 1rem;
    border: 1px solid $white;
    background: $white;
    color: $purple;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      background: $blue-dark;
      border-color: $blue-dark;
      color: $blue-hint;
    }
  }
  
  &-outline {
    display: inline-block;
    padding: .75rem 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid $purple;
    background: $white;
    color: $purple;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2rem;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:not(:last-child) {
      margin-right: 1rem;
    }
    
    &:hover {
      transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1);
      background: $blue-hint;
      border-color: $blue-hint;
      color: $blue-dark;
    }
    
  }
  
}

