.text {
  &-dark {
    color: $dark !important;
  }
  
  &-white {
    color: $white !important;
  }
  
  &-green {
    color: $green !important;
  }
  
  &-link-dark {
    text-decoration: none;
    color: $purple;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  &-flip {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}