.text {
  &-dark {
    color: $dark !important;
  }

  &-purps {
    color: $purple !important;
  }
  
  &-white {
    color: $white !important;
  }
  
  &-green {
    color: $green !important;
  }
  
  &-link-dark {
    color: $blue-dark;
    
    &:hover {
      color: $purple;
      background-color: $blue-hint;
    }
  }
  
  &-flip {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}