@mixin title {
  margin-left: -.15rem;
  font-size: 6.65rem;
  
  @include breakpoint(md) {
    font-size: 4.653em;
  }
}

@mixin container {
  display: flex;
  min-height: calc(100vh - 12.375rem);
  padding-top: 6rem;
  
  @include breakpoint(md) {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
}

.#{$prefix} {
  &-hero {
    color: $dark;
    
    & .rt-container {
      @include container;
    }
    
    &-content {
      max-width: $sm;
    }
    
    &-title {
      @include title;
      margin-bottom: 1rem;
    }
    
    &-title-lead {
      font-size: 1.4rem;
      line-height: 1.2;
      margin-bottom: 2rem;
      max-width: 24rem;
    }
    
    &-subtitle {
      margin-bottom: 3rem;
    }
  }
  
  &-hero-work,
  &-hero-writing,
  &-hero-contact {
    & .rt-container {
      @include container;
      min-height: initial;
    }
    
    &-content {
      max-width: $sm;
    }
    
    &-title {
      @include title;
      // color:$blue-dark;
    }
    
    &-subtitle {
      margin-bottom: 3rem;
    }
  }

  &-hero-contact {
    & .rt-container {
      min-height: calc(100vh - 12.375rem);
    }
  }

  
  &-hero-about {
    & .rt-container {
      @include container;
    }
    
    &-content,
    &-facts {
      max-width: $sm;
    }
    
    &-facts {
      padding: 9rem 2rem 2rem 4rem;
      
      @include breakpoint(md) {
        padding: 0 0 4rem 0;
      }
    }
  }
  
  &-hero-writing {
    background-color: #fbfbfb;
  }

  &-hero-current {
    &-category {
      font-weight: 600;
      display: block;
    }
    
    &-pick {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &-bg-alt {
    background-color: #fbfbfb;
  }

  &-contact-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;

    &-item img{
      display: block;
      width: 100%;
      max-width: 1.5rem;
    }

    &-link {
      display: inline-block;
      padding: 1rem;

      &:hover {
        outline: 1px solid $green;
        background-color: $blue-hint;
      }
    }
  }

}