@mixin title {
  margin-left: -.15rem;
  font-size: 6.65rem;
  
  @include breakpoint(md) {
    font-size: 4.653em;
  }
}

@mixin container {
  display: flex;
  min-height: calc(100vh - 7.375rem);
  padding-top: 6rem;
  
  @include breakpoint(md) {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
}

.#{$prefix} {
  &-hero {
    color: $dark;
    
    & .rt-container {
      @include container;
    }
    
    &-content {
      max-width: $sm;
    }
    
    &-title {
      @include title;
      margin-bottom: 1rem;
    }
    
    &-title-lead {
      font-size: 1.4rem;
      line-height: 1.2;
      margin-bottom: 2rem;
      max-width: 24rem;
    }
    
    &-subtitle {
      margin-bottom: 3rem;
    }
  }
  
  &-hero-work,
  &-hero-writing,
  &-hero-contact {
    
    & .rt-container {
      @include container;
    }
    
    &-content {
      max-width: $sm;
    }
    
    &-title {
      @include title;
      // color:$blue-dark;
    }
    
    &-subtitle {
      margin-bottom: 3rem;
    }
  }
  
  &-hero-about {
    
    & .rt-container {
      @include container;
      justify-content: space-between;
      
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
    
    &-content,
    &-facts {
      max-width: $sm;
    }
    
    &-facts {
      padding: 9rem 2rem 2rem 4rem;
      
      @include breakpoint(md) {
        padding: 0 0 4rem 0;
      }
    }
  }
  
  &-hero-current {
    &-category {
      font-weight: 600;
      display: block;
    }
    
    &-pick {
      display: block;
      margin-bottom: 1rem;
    }
  }

}