.#{$prefix}-ills {
    &-content {
      max-width: $sm;
    }

    &-section {
      & .rt-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        padding-bottom: 4rem;
        @include breakpoint(md) {
          grid-template-columns: repeat(1,1fr);
        }
      }
    }


  }