.#{$prefix}-ills {
    &-content {
      max-width: $sm;
    }

    &-item {
      display: block;
      color: $dark;
      text-decoration: none;
      border: 1px solid $light-gray;
      transition: .6s all cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background: $blue-hint;
        border: 1px solid $green;
        transition: .6s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &-section {
      padding-top: 4rem;
      & .rt-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        padding-bottom: 4rem;
        @include breakpoint(md) {
          grid-template-columns: repeat(1,1fr);
        }
      }
    }


  }