.#{$prefix}-page {
  &-scroll-up {
    display: none;
  }
  &-scroll-up.is-visible {
    position: fixed;
    bottom: 1.5rem;
    right: .5rem;
    background: rgba(58, 108, 240, 0.5);
    color: $white;
    border: 1px solid $white;
    display: block;
    width: 2rem;
    height: 2rem;
    
    &:hover {
      cursor: pointer;
    }
    
    &:focus,
    &:active {
      outline: none;
    }
  }
}