.#{$prefix}-page {
  &-scroll-up {
    display: none;
  }
  &-scroll-up.is-visible {
    position: fixed;
    bottom: 8rem;
    right: .25rem;
    background: $dark;
    color: $white;
    border: 1px solid $dark;
    display: block;
    padding: .65rem .75rem;
    
    &:hover {
      cursor: pointer;
    }
    
    &:focus,
    &:active {
      outline: none;
    }
  }
}