
.#{$prefix}-work {
  
  &-section .rt-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding-bottom: 4rem;
    
    @include breakpoint(lg) {
      grid-template-columns: repeat(2,1fr);
    }
    
    @include breakpoint(md) {
      grid-template-columns: repeat(1,1fr);
    }
  }
  
  &-section-title {
    font-weight: 600;
    font-size: 2.65rem;
    margin-bottom: 1rem;
  }
  
  &-img {
    display: block;
    width: 100%;
    border-bottom: 1px solid $light-gray;
  }
  
  &-org {
    padding-bottom: 1rem;
    display: block;
  }
  
  &-section-item {
    display: block;
    color: $dark;
    text-decoration: none;
    border: 1px solid #EAEAEA;
    width: 100%;
    position: relative;
    transition: .6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &-title {
      margin-bottom: .5rem;
    }
    
    &.inactive:hover  {
      background: $white;
      border: 1px solid #EAEAEA;
      cursor: initial;
    }
    
    &.inactive:hover .rt-link-external {
      opacity: .2;
    }
    
    &.inactive .rt-link-external {
      bottom: 1rem;
    }
    
    &:hover {
      background: $blue-hint;
      border: 1px solid $green;
      transition: .6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &:hover .rt-link-external {
      opacity: .8;
    }
    
    @include breakpoint(sm) {
      margin: 0 0 1.5rem 0;
      max-width: initial;
    }
  }
  
  &-meta {
    display: block;
    max-width: 90%;
    padding: 1rem;
    min-height: 300px;
    position: relative;
    @include breakpoint(sm) {
      min-height: initial;
    }
    
    &.writing {
      min-height: 164px;
    }
    
    &.extra {
      min-height: 96px;
    }
  }
  
  &-pub {
    position: absolute;
    bottom: 1rem;
    color: $gray;
    font-size: .75rem;
    
    &-label,
    &-time,
    &-tags {
      display: block;
    }
    
    &-time {
      font-style: italic;
    }
  }
  
  &-meta-stack {
    position: absolute;
    bottom: 1rem;
    color: $gray;
    font-size: .75rem;
    
    @include breakpoint(sm) {
      position: relative;
      bottom: unset;
    }
  }
  
  &-meta-label {
    display: block;
    padding-bottom: .25rem;
    font-weight: 600;
    color: $dark;
  }
}