@import './resets/reset';

@import './global/variables';
@import './global/typography';
@import './global/base';
@import './global/utils';

@import './pages/home/';
@import './pages/about/';
@import './pages/work/';

// components
@import './components/card';
@import './components/container';
@import './components/link';
@import './components/header';
@import './components/icon';
@import './components/footer';
@import './components/divider';
@import './components/email';